body {
  width: 100%;
  height: 100%;
}

header {
  background-color: #060b2b;
  color: whitesmoke;
  font-size: 150%;
  height: 130px;
  margin-top: 50px;
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  min-width: 40em;
  background-color: #10284c;
  z-index: 9999;
}
a:visited {
  color: whitesmoke;
}
ul {
  text-align: right;
  font-size: 2.5 em;
  margin: 15px;
  padding-right: 8%;
  list-style-type: none;
}
li {
  display: inline;
  color: #87847d;
  size: 3em;
  padding-right: 8%;
}
li a {
  text-decoration: none;

  padding-right: 10px;
  padding-left: 10px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  float: left;
  width: 100%;
  background-color: #060b2b;
  color: #87847d;
  margin-right: -10px;
  margin-left: -10px;
}
.gallery header {
  padding: 1em;
}
.gallery img {
  margin: 1em;
  box-shadow: 10px 10px 10px #87847d;
  min-width: 400px;
  min-height: 300px;
}
.gallery #mainproject {
  min-width: 600px;
  min-height: 400px;
}
.gallery p {
  text-align: center;
}

.contact {
  background-color: #10284c;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin-right: -10px;
  margin-left: -10px;
}
/* color scheme colors: #2F5B88, #10284C, #060B2B, #060814, #0C1B1E, #87847D */

@media screen and (max-width: 992px) {
  .gallery {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    width: 100%;
  }
}
